@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Rubik:wght@300;400;500;600&display=swap');

.home-department {
  background-color: #f4f9fc;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  padding-bottom: 30px;

  .nurse-img {
    margin: auto;
    padding: 65px;
  }
  .title {
    margin-top: -220px;
    h1 {
      font-size: 60px;
      font-family: 'Poppins', sans-serif;
      margin: 0 auto 18px;
      max-width: 600px;
      line-height: 1.2;
      color: #223645;
      font-weight: 600;
    }
    h5 {
      color: #647589;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
  .card-department {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 53px;
    margin: 12px 0;

    &:hover {
      box-shadow: 0 16px 32px 0 rgba(196, 203, 255, 0.3);
      transition: 0.4s ease-in-out;
    }
  }
}

.profile-container img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.name-service {
  text-align: center;
  margin-top: 2rem;
  a {
    text-decoration: none !important;
  }
  p {
    line-height: 1.5;
    color: #647589;
    font-size: 14px;
    padding: 15px 20px;
  }
}
.card-wrap {
  margin-top: 75px;
  padding: 0;
}
@media (min-width: 1200px) {
  .card-wrap {
    margin-top: 75px;
    padding: 0 50px;
  }
}
.name-service-link {
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  margin-top: 150px !important;
  color: #223645;
  &:hover {
    color: #8fb569;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 2rem;
}

.read-more {
  color: #647589;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  &:hover {
    color: #8fb569;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
}

// Departments
.department-service {
  background-color: white;
  font-family: 'Rubik', sans-serif;
  margin-top: 60px;
  .title-wrap {
    display: flex;
    align-items: center;
    .left-text {
      min-width: 50%;
      text-align: end;
      padding-right: 15px;
    }
    h1 {
      font-size: 50px;
      font-family: 'Poppins', sans-serif;
      line-height: 1.2;
      color: #223645;
      margin: 0;
      margin-top: 25px;
      font-weight: 600;
      margin-left: 50px;
    }
    h5 {
      font-size: 18px;
      color: #e12454;
      margin: 0;
      margin-top: -160px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #647589;
      line-height: 26px;
      padding: 80px 35px 20px 35px;
    }
  }
  .card-department {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 53px;
    margin: 12px 0;

    &:hover {
      box-shadow: 0 16px 32px 0 rgba(196, 203, 255, 0.3);
      transition: 0.4s ease-in-out;
    }
  }
  .card-wrap {
    margin: 40px 0px;
  }
}
