.footer-top {
  padding-top: 115px;
  padding-bottom: 90px;
  background: #13232f;
  color: #647589;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #647589;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: block;
  .footer-contact-info {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 32px 0 hsla(0, 0%, 61%, 0.2);
    margin-top: -226px;
    padding: 60px 60px 55px;
    .emmergency-call {
      overflow: hidden;
      border-bottom: 2px solid #ebebeb;
      margin-bottom: 40px;
      padding-bottom: 25px;
      .emmergency-call-icon {
        float: left;
        i {
          color: #e12454;
          font-size: 36px;
          margin-right: 30px;
        }
      }
      .emmergency-call-text {
        float: left;
        h6 {
          color: #647589;
          display: block;
          font-weight: 400;
          margin-bottom: 0;
          font-size: 14px;
          line-height: 1.1;
          margin-top: 0;
        }
        span {
          color: #13232f;
          font-size: 36px;
          font-weight: 500;
        }
      }
    }
    .footer-logo {
      margin-bottom: 35px;
      a {
        color: #10111e;
        outline: medium none;
        text-decoration: none;
        transition: all 0.3s ease-out 0s;
        img {
          max-width: 100%;
          transition: all 0.3s ease-out 0s;
        }
      }
    }
    .footer-contact-content {
      margin-bottom: 25px;
      p {
        color: #647589;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 15px;
        margin-top: 0;
      }
    }
    .footer-emailing {
      ul {
        margin: 0;
        padding: 0;
        li {
          color: #647589;
          font-size: 18px;
          margin-bottom: 12px;
          list-style: none;
          i {
            margin-right: 14px;
          }
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
  .footer-widget {
    margin-bottom: 30px;
    .footer-title {
      h3 {
        color: #fff;
        display: block;
        font-size: 24px;
        margin-bottom: 46px;
        letter-spacing: -0.3px;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        line-height: 1.1;
        margin-top: 0;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }
    }
    .footer-menu {
      ul {
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 30px;
          list-style: none;

          font-family: Rubik, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          a {
            color: #899dab;
            font-weight: 500;
            outline: medium none;
            text-decoration: none;
            transition: all 0.3s ease-out 0s;
          }
        }
      }
    }
  }
}
.footer-bottom {
  background: #0d1b26;
  padding-top: 25px !important;
  padding-bottom: 20px !important;
  .footer-copyright {
    text-align: center !important;
    padding-bottom: 0px !important;
    p {
      margin: 0;
      color: #fff !important;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      padding-bottom: 0px !important;
      font-family: Rubik, sans-serif;
      font-style: normal;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
}
